{% import "search_macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset4 span8">
      {{ macros.search(pager) }}
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      {{ macros.facetlist(pager, 'Interests', 'interests') }}
    </div>
    <div class="span-one-third">
      {{ macros.facetlist(pager, 'Category', 'subCategory') }}
    </div>
    <div class="span-one-third">
      {{ macros.facetlist(pager, 'Country', 'contactCountry') }}
    </div>
  </div>
{% endblock %}



