{% import "search_macros.tmpl" as macros %}
{% extends "layout.tmpl" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset4 span8">
      {{ macros.search(pager) }}
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      <ul>
      {%for name, count in pager.facet_values('interests') %}
        <li><a href="{{pager.filter_url('interests', name)}}">{{name}}</a> <span class="help-inline">({{count}})</span></li>
      {%endfor%}
      </ul>
    </div>
    <div class="span-one-third">
      <ul>
      {%for name, count in pager.facet_values('subCategory') %}
        <li><a href="{{pager.filter_url('subCategory', name)}}">{{name}}</a> <span class="help-inline">({{count}})</span></li>
      {%endfor%}
      </ul>
    </div>
    <div class="span-one-third">
      <ul>
      {%for name, count in pager.facet_values('contactCountry') %}
        <li><a href="{{pager.filter_url('contactCountry', name)}}">{{name}}</a> <span class="help-inline">({{count}})</span></li>
      {%endfor%}
      </ul>
    </div>
  </div>
{% endblock %}



