{% extends "layout.tmpl" %}

{% block title %}
  {{ entity['name'] }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span-one-third">
      &nbsp;
    </div>
    <div class="span-two-thirds">
      <h2>{{ entity['name'] }}</h2>
      {% if entity.type != 'organisation' %}
        {% if entity.representedBy %}
          <h3>Group Memberships</h3>
          <ul>
            {% for rep in entity.representedBy %}
              <li>
                <a href="{{ url_for('entity', id=rep.id) }}">{{ rep.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if entity.turnoversFor %}
          <h3>Paid Representation</h3>
          <ul>
            {% for turn in entity.turnoversFor %}
              <li><a href="{{ url_for('entity', id=turn.representative.id) }}">{{
turn.representative.name }}</a>: EUR {{ turn.min }} - {{ turn.max }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}


      <pre>{{ raw }}</pre>
    </div>
  </div>
{% endblock %}




