{% import "search_macros.tmpl" as macros %}
{% import "tools.tmpl" as tools %}
{% extends "layout.tmpl" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span-one-third">&nbsp;</div>
    <div class="span-two-thirds">
      {{ macros.search(pager) }}
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      {{ macros.facetlist(pager, 'Interests', 'interests') }}
      {{ macros.facetlist(pager, 'Category', 'subCategory') }}
      {{ macros.facetlist(pager, 'Country', 'contactCountry') }}
    </div>
    <div class="span-two-thirds">
      {{ tools.orglist(pager) }}    
      {{ macros.pager(pager) }}
    </div>
  </div>
{% endblock %}




