{% macro search(pager) %}
  <form id="search-form" method="GET" action="{{ url_for('search') }}">
    <input id="search-box" class="xlinput span8" name="q" value="{{ pager.q }}" placeholder="search term" autofocus >
    {% for t, v in pager.filters %}
      <input type="hidden" name="filter_{{ t }}" value="{{ v }}" />
    {% endfor %}
  </form>
{% endmacro %}

{% macro pager(pager) %}
  <div class="pagination">
    <ul>
    {% if pager.has_prev %}
      <li class="prev">
        <a href="{{ pager.prev_url }}">&laquo; back</a>
      </li>
    {% else %}
      <li class="prev disabled">
        <a>&laquo; back</a>
      </li>
    {% endif %}
    <li class="active">
      <a>{{ pager.page }} / {{ pager.pages }}</a>
    </li>
    {% if pager.has_next %}
      <li class="next">
        <a href="{{ pager.next_url }}">next &raquo;</a>
      </li>
    {% else %}
      <li class="next disabled">
        <a>next &raquo;</a>
      </li>
    {% endif %}
    </ul>
  </div>
{% endmacro %}
