{% macro search(pager) %}
  <form id="search-form" method="GET" action="{{ url_for('search') }}">
    <input id="search-box" class="xlinput span8" name="q" value="{{ pager.q }}" placeholder="search term" autofocus >
    <br>
    <br>
    {% for t, v in pager.filters %}
      <input type="hidden" name="filter-{{ t }}" value="{{ v }}" />
      <a href="{{ pager.unfilter_url(t, v) }}"><span class="label important">{{
v }}</span></a>
    {% endfor %}
  </form>
{% endmacro %}

{% macro pager(pager) %}
  <div class="pagination">
    <ul>
    {% if pager.has_prev %}
      <li class="prev">
        <a href="{{ pager.prev_url }}">&laquo; back</a>
      </li>
    {% else %}
      <li class="prev disabled">
        <a>&laquo; back</a>
      </li>
    {% endif %}
    <li class="active">
      <a>{{ pager.page }} / {{ pager.pages }}</a>
    </li>
    {% if pager.has_next %}
      <li class="next">
        <a href="{{ pager.next_url }}">next &raquo;</a>
      </li>
    {% else %}
      <li class="next disabled">
        <a>next &raquo;</a>
      </li>
    {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro facetlist(pager, name, field, cut=6) %}
  <h3>{{name}}</h3>
  <ul class="facets" id="{{name}}">
    {%for name, count in pager.facet_values(field) %}
      <li class="{{ 'cut' if loop.index > cut else '' }}">
        <a href="{{pager.filter_url(field, name)}}">{{name}}</a> 
        <span class="help-inline">({{count}})</span>
      </li>
    {%endfor%}
    {% if pager.facet_values(field).count > cut %}
      <li class="expandFacet"><a><em>More...</em></a></li>
      <li class="cut collapseFacet"><a><em>Fewer...</em></a></li>
    {% endif %}
  </ul>
{% endmacro %}
